<app-dashboard-content-layout
  title="brokers.title"
  subTitle="brokers.sub-title"
  [actionsTemplate]="actionsTemplate"
  [contentTemplate]="contentTemplate"
></app-dashboard-content-layout>

<ng-template #actionsTemplate>
  <p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input pInputText type="text"
           (input)="applyFilterGlobal($event, dt, 'contains')"
           placeholder="{{'actions.search-placeholder' | translate}}"
    />
  </p-iconfield>
  <p-button [routerLink]="'/dashboard/brokers/add'"
            [disabled]="loading"
            label="{{'brokers.add-button' | translate}}"
            icon="pi pi-plus" />
</ng-template>

<ng-template #contentTemplate>
  <p-table
    #dt
    dataKey="id"
    editMode="row"
    [value]="userBrokers"
    [globalFilterFields]="tablePropertiesFilter"
    [loading]="loading"
    [styleClass]="'p-datatable-lg'"
    [rowHover]="true"
    sortField="broker.name" [sortOrder]="1">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'brokers.table-column.name' | translate }}</th>
        <th>{{ 'brokers.table-column.api-key' | translate }}</th>
        <th>{{ 'brokers.table-column.api-secret' | translate }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userBroker let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="userBroker">
        <td>
          <div class="flex flex-row gap-3">
          <img *ngIf="userBroker.broker.imageUrl"
               [src]="userBroker.broker.imageUrl"
               [alt]="userBroker.broker.name"
               class="rounded-full w-7 h-7"
          />
          {{ userBroker.broker.name }}
          </div>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText type="text"
                [(ngModel)]="userBroker.broker.apiKey"
                required />
            </ng-template>
            <ng-template pTemplate="output">
              {{userBroker.broker.apiKey || '-' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText type="text"
                [(ngModel)]="userBroker.broker.apiSecret"
                required />
            </ng-template>
            <ng-template pTemplate="output">
              {{userBroker.broker.apiSecret || '-' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            <p-button *ngIf="!editing"
                      pInitEditableRow
                      (click)="onRowEditInit(clonedUserBrokers, userBroker)"
                      icon="pi pi-pencil"
                      severity="secondary"
                      [rounded]="true" />
            <p-button *ngIf="!editing"
                      (click)="onRowDelete($event, userBroker)"
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"/>
            <p-button *ngIf="editing"
                      pCancelEditableRow
                      (click)="onRowEditCancel(userBrokers, clonedUserBrokers, userBroker, ri)"
                      icon="pi pi-times"
                      severity="secondary"
                      [rounded]="true"/>
            <p-button *ngIf="editing"
                      pSaveEditableRow
                      (click)="onWrapperRowEditSave(userBroker)"
                      icon="pi pi-check"
                      severity="success"
                      [outlined]="true"
                      [rounded]="true"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>
