<ng-template #actionsTemplate>
  <p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input pInputText type="text"
           (input)="applyFilterGlobal($event, 'contains')"
           placeholder="{{'actions.search-placeholder' | translate}}"
    />
  </p-iconfield>
  <p-button [routerLink]="'/dashboard/brokers/add'"
            [disabled]="loading"
            [rounded]="true"
            label="{{'dashboard.brokers.add-button' | translate}}"
            icon="pi pi-plus" />
</ng-template>

<ng-template #contentTemplate>
  <p-table
    #dt
    dataKey="id"
    editMode="row"
    [value]="brokers"
    [globalFilterFields]="['name']"
    [loading]="loading"
    [styleClass]="'p-datatable-lg'"
    [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'dashboard.brokers.table-column.name' | translate }}</th>
        <th>{{ 'dashboard.brokers.table-column.api-key' | translate }}</th>
        <th>{{ 'dashboard.brokers.table-column.api-secret' | translate }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-broker let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="broker">
        <td>{{ broker.name }}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText type="text"
                [(ngModel)]="broker.apiKey"
                required />
            </ng-template>
            <ng-template pTemplate="output">
              {{broker.apiKey || '-' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText type="text"
                [(ngModel)]="broker.apiSecret"
                required />
            </ng-template>
            <ng-template pTemplate="output">
              {{broker.apiSecret || '-' }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex items-center justify-center gap-2">
            <p-button *ngIf="!editing"
                      pInitEditableRow
                      (click)="onRowEditInit(broker)"
                      icon="pi pi-pencil"
                      severity="secondary"
                      [rounded]="true" />
            <p-button *ngIf="!editing"
                      (click)="onRowDelete($event, broker)"
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"/>
            <p-button *ngIf="editing"
                      pCancelEditableRow
                      (click)="onRowEditCancel(broker, ri)"
                      icon="pi pi-times"
                      severity="secondary"
                      [rounded]="true"/>
            <p-button *ngIf="editing"
                      pSaveEditableRow
                      (click)="onRowEditSave(broker)"
                      icon="pi pi-check"
                      severity="success"
                      [outlined]="true"
                      [rounded]="true"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<app-dashboard-item-layout
  title="dashboard.brokers.title"
  subTitle="dashboard.brokers.sub-title"
  [actionsTemplate]="actionsTemplate"
  [contentTemplate]="contentTemplate"
></app-dashboard-item-layout>
