<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <header class="fixed bg w-full z-10 touch-pan-x touch-pan-y">
    <div class="flex justify-between items-center px-6">

      <!-- Left side -->
      <div>
        <!-- Title -->
        <img [src]="logoPath" alt="Fihub Logo" (click)="home()" (keydown.enter)="home()" tabindex="0" class="logo hover:cursor-pointer"/>
      </div>

      <!-- Right side -->
      <div class="h-full flex gap-5">

        <!-- Language -->
        <app-panel icon="pi-language" [contentTemplate]="contentTemplate"></app-panel>

        <ng-template #contentTemplate>
          <span class="text-light">{{ 'settings.language' | translate }}</span>
          <p-listbox [options]="languageService.languages"
                     [(ngModel)]="languageService.language"
                     (onChange)="languageService.setLanguage($event.value)"
                     [filter]="true"
                     emptyFilterMessage="{{ 'search.no-results' | translate }}"
                     optionLabel="name"
                     class="w-full md:w-56"
          />
        </ng-template>

        <!-- Theme -->
        <button (click)="themeService.toggleTheme()" class="flex items-center justify-center">
          <i class="text-2xl pi"
             style="color: var(--primary-color)"
             [ngClass]="{'pi-sun': !themeService.isLight(), 'pi-moon': themeService.isLight()}"
          ></i>
        </button>

        <!-- Actions - Authenticated -->
        <div *ngIf="authService.isAuthenticated()" class="flex gap-5 justify-between items-center">
          <!-- Account -->
          <p-button [routerLink]="'/settings'" icon="pi pi-user" [rounded]="true" severity="primary"/>
        </div>

        <!-- Actions - NonAuthenticated -->
        <div *ngIf="!authService.isAuthenticated()" class="flex gap-5 justify-between items-center">
          <!-- Sign-up -->
          <p-button [routerLink]="'/auth/register'" [outlined]="true" label="{{ 'actions.sign-up' | translate }}"/>

          <!-- Sign-in -->
          <p-button [routerLink]="'/auth'" label="{{ 'actions.sign-in' | translate }}"/>
        </div>

        <!-- Toggle Sidebar -->
        <!-- Hidden starting from MEDIUM size -->
        <button *ngIf="items" (click)="toggleSidebar()"
                class="md:hidden flex items-center justify-center">
          <i *ngIf="!sidebarVisible" class="pi pi-bars text-2xl"></i>
          <i *ngIf="sidebarVisible" class="pi pi-times text-2xl"></i>
        </button>
      </div>
    </div>
  </header>

  <!-- Sidebar and Content Container -->
  <div class="flex flex-row flex-grow pt-12 overflow-y-hidden">

    <!-- Sidebar -->
    <!-- Always visible. Hidden only when chosen until before MEDIUM size -->
    <div *ngIf="items" [ngClass]="{'max-md:hidden': !sidebarVisible}"
         class="bg z-10 fixed h-full touch-pan-x touch-pan-y w-64 max-md:w-full">
      <div class="overflow-y-auto overflow-x-hidden flex-grow">

        <!-- Menu -->
        <ul class="flex flex-col space-y-2">

          <!-- Items -->
          <li *ngFor="let item of items | callback: filterPermission">

            <!-- Item : single -->
            <a *ngIf="!item.items"
               [routerLink]="item.route"
               routerLinkActive="menu-active"
               [routerLinkActiveOptions]="{exact: item.routeActiveExact ?? false }"
               class="flex flex-row justify-between items-center px-6 rounded-r-xl max-md:rounded-none menu-hover"
               pRipple>

              <!-- Icon + Label -->
              <div class="flex py-3">
                <span class="inline-flex justify-center items-center">
                  <i class="pi {{item.icon}} text-xl"></i>
                </span>
                <p class="item-label mx-3 break-all">
                  {{ item.label | translate }}
                </p>
              </div>
            </a>

            <!-- Item : with sub-items -->
            <div *ngIf="item.items" (click)="toggleSubItems(item)" (keydown.enter)="toggleSubItems(item)" tabindex="0" pRipple
                 class="flex flex-row justify-between items-center px-6 rounded-r-xl max-md:rounded-none menu-hover select-none hover:cursor-pointer">

              <!-- Icon + Label -->
              <div class="flex py-3">
                <span class="inline-flex justify-center items-center">
                  <i class="pi {{item.icon}} text-xl"></i>
                </span>
                <span class="mx-3 break-all">
                  {{ item.label | translate }}
                </span>
              </div>

              <!-- Toggle Icon -->
              <i class="pi" [ngClass]="{'pi-angle-down': isItemOpen(item), 'pi-angle-right': !isItemOpen(item)}"></i>
            </div>

            <!-- Menu : Sub items -->
            <ul *ngIf="isItemOpen(item)" class="flex flex-col space-y-2">

              <!-- Sub - Item -->
              <li *ngFor="let subItem of item.items | callback: filterPermission">
                <a [routerLink]="subItem.route" routerLinkActive="menu-active"
                   [routerLinkActiveOptions]="{exact: subItem.routeActiveExact ?? false }"
                   class="flex flex-row justify-between items-center px-6 rounded-r-xl menu-hover" pRipple>

                  <!-- Label -->
                  <div class="flex py-3 ml-5">
                    <p class="item-label mx-3 break-all">
                      {{ subItem.label | translate }}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Main Content -->
    <div [ngClass]="{'max-md:ml-0': !sidebarVisible && items, 'ml-0': !items, 'ml-64': items}"
         class="flex flex-col flex-grow">
      <div class="content-wrapper flex-grow">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="mt-auto"></app-footer>
    </div>
  </div>
</div>
