<div class="flex flex-col items-center justify-center min-h-screen">

  <p-messages
    [(value)]="messages"
    [closable]="false"
    [enableService]="false"/>

  <p-card header="{{'login.title' | translate}}" class="container-2xl">

    <div class="flex flex-col gap-4">

      <!-- Email -->
      <div class="flex flex-col gap-2">
        <label for="email">{{'auth.form.email' | translate}}</label>
        <input [(ngModel)]="user.email"
               [autofocus]="true"
               [disabled]="loading"
               [ngClass]="{'ng-invalid': error}"
               pInputText
               type="text"
               id="email"
               placeholder="{{'auth.form.email-placeholder' | translate}}"
        />
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-2">
        <label for="password">{{'auth.form.pwd.password' | translate}}</label>
        <p-password [(ngModel)]="user.password"
                    [disabled]="loading"
                    [feedback]="false"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    autocomplete="current-password"
                    id="password"
                    placeholder="{{'auth.form.pwd.password-placeholder' | translate}}"
        />
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button (click)="login()"
                  [disabled]="!user.email || !user.password || loading"
                  label="{{'login.submit' | translate}}"
                  class="w-full"
                  styleClass="w-full"
                  pRipple/>
      </div>
    </ng-template>
  </p-card>

  <div class="flex items-center justify-center">
    <p-button routerLink="/auth/register" label="{{'login.register' | translate}}" [link]="true" />
    or
    <p-button label="{{'login.forgot' | translate}}" [link]="true" />
  </div>
</div>
