.menu-active {
  background-color: var(--p-button-primary-background);
  color: var(--p-button-primary-color);
}

.menu-active .item-label {
  font-weight: 600;
}

.menu-hover:hover {
  background-color: var(--p-button-primary-hover-background);
}

// First LI missing space-y-2
li li:first-of-type {
  margin-top: 0.5rem;
}
