<div class="flex flex-col items-center justify-center gap-3">

  <img *ngIf="!fieldConfig.hideImage"
       [src]="logoPath" alt="Fihub Logo"/>

  <form [formGroup]="formService.getForm()"
        (ngSubmit)="onSubmitWrapper()"
        class="flex flex-col gap-12 rounded-md"
        [ngClass]="{'mt-8 p-10': !fieldConfig.cssFormRaw}">

    <!-- Form title -->
    <h2 *ngIf="title" class="font-bold text-2xl">
      {{title | translate}}
    </h2>

    <!-- Form fields -->
    <div class="flex flex-col gap-4">

      <!-- Message - Error -->
      <p-message *ngIf="messageError"
                 severity="error"
                 icon="pi pi-times-circle"
                 styleClass="mb-2">
        {{messageError}}
      </p-message>

      <!-- Email -->
      <div *ngIf="fieldConfig.hasEmail" class="flex flex-col gap-2">
        <label for="email">{{'auth.form.email' | translate}}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input formControlName="email"
                 [autofocus]="true"
                 pInputText
                 type="text"
                 id="email"
                 fluid
          />
        </p-iconfield>
        <p-message *ngIf="formService.hasSpecifiedErrors('email', ['required'], ['submit-required'])"
                   severity="error" variant="simple" size="small">
          {{'auth.form.error.email' | translate}}
        </p-message>
        <p-message *ngIf="formService.hasSpecifiedError('email', 'submit-used')"
                   severity="error" variant="simple" size="small">
          {{'auth.form.error.email-used' | translate}}
        </p-message>
      </div>

      <!-- Password -->
      <div *ngIf="fieldConfig.hasPassword" class="flex flex-col gap-2">
        <label for="password">{{'auth.form.pwd.password' | translate}}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-lock" />
          <p-password formControlName="password"
                      [feedback]="false"
                      [toggleMask]="true"
                      inputId="password"
                      fluid
          />
        </p-iconfield>
        <p-message *ngIf="formService.hasSpecifiedErrors('password', ['required'], ['submit-required'])"
                   severity="error" variant="simple" size="small">
          {{'error.required' | translate}}
        </p-message>
      </div>

      <!-- Password Feedback -->
      <div *ngIf="fieldConfig.hasPasswordFeedback" class="flex flex-col gap-2">
        <label for="password-feedback">{{'auth.form.pwd.password' | translate}}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-lock" />
          <p-password formControlName="password-feedback"
                      [toggleMask]="true"
                      inputId="password-feedback"
                      fluid
                      weakLabel="{{'auth.form.pwd.feedback.complexity.weak' | translate}}"
                      mediumLabel="{{'auth.form.pwd.feedback.complexity.medium' | translate}}"
                      strongLabel="{{'auth.form.pwd.feedback.complexity.strong' | translate}}">
            <ng-template pTemplate="header">
              <h6 class="text-sm font-semibold">{{'auth.form.pwd.feedback.header' | translate}}</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider />
              <p class="mt-2 mb-4">{{'auth.form.pwd.feedback.suggestions.header' | translate}}</p>
              <ul class="pl-2 ml-2 mt-0 list-disc" style="line-height: 1.5">
                <li>{{'auth.form.pwd.feedback.suggestions.li-0' | translate}}</li>
                <li>{{'auth.form.pwd.feedback.suggestions.li-1' | translate}}</li>
                <li>{{'auth.form.pwd.feedback.suggestions.li-2' | translate}}</li>
                <li>{{'auth.form.pwd.feedback.suggestions.li-3' | translate}}</li>
              </ul>
            </ng-template>
          </p-password>
        </p-iconfield>
        <p-message *ngIf="formService.hasSpecifiedErrors( 'password-feedback', ['required'], ['submit-required'])"
                   severity="error" variant="simple" size="small">
          {{'auth.form.error.password-feedback' | translate}}
        </p-message>
      </div>

      <!-- Confirmation -->
      <div *ngIf="fieldConfig.hasConfirmation" class="flex flex-col gap-2">
        <label for="confirmation">{{'auth.form.pwd.confirmation' | translate}}</label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-lock" />
          <p-password formControlName="confirmation"
                      [feedback]="false"
                      [toggleMask]="true"
                      inputId="confirmation"
                      fluid
          />
        </p-iconfield>
        <p-message *ngIf="formService.hasSpecifiedErrors('confirmation', ['required', 'invalid'], ['submit-invalid'])"
                   severity="error" variant="simple" size="small">
          {{'auth.form.error.confirmation' | translate}}
        </p-message>
      </div>

      <!-- Checkbox -->
      <div *ngIf="fieldConfig.checkboxLabel">
        <div class="flex gap-2">
          <p-checkbox formControlName="checkbox"
                      [binary]="true"
                      inputId="checkbox"/>
          <label for="checkbox">{{fieldConfig.checkboxLabel | translate}}</label>
        </div>
        <p-message *ngIf="formService.hasSpecifiedErrors('checkbox', ['required'], ['submit-invalid'])"
                   severity="error" variant="simple" size="small">
          {{'auth.form.error.agreement' | translate}}
        </p-message>
      </div>
    </div>

    <!-- Actions -->
    <div *ngIf="!fieldConfig.hideActions" class="flex flex-col gap-3">
      <button [disabled]="formService.isSubmitDisabled()"
              [loading]="loading"
              label="{{ fieldConfig.submitLabel ?? '' | translate }}"
              class="w-full"
              pButton pRipple
              type="submit"
      ></button>
    </div>
  </form>

  <!-- Links -->
  <div class="flex items-center justify-center">
    <p-button *ngIf="fieldConfig.hasLoginLink"
              [link]="true"
              routerLink="/auth/"
              label="{{'auth.links.login' | translate}}"
    />
    <p-button *ngIf="fieldConfig.hasRegisterLink"
              [link]="true"
              routerLink="/auth/register"
              label="{{'auth.links.register' | translate}}"
    />
    <span *ngIf="fieldConfig.hasForgotLink" class="font-black">⸱</span>
    <p-button *ngIf="fieldConfig.hasForgotLink"
              [link]="true"
              label="{{'auth.links.forgot' | translate}}"
    />
  </div>
</div>
