<div class="flex flex-col items-center justify-center min-h-screen gap-3">

  <form [formGroup]="userForm" (ngSubmit)="onSubmitWrapper()" class="flex flex-col gap-12 rounded-md">

    <!-- Form title -->
    <h2 class="font-bold text-2xl">
      {{title | translate}}
    </h2>

    <!-- Form fields -->
    <div class="flex flex-col gap-4">

      <!-- Email -->
      <div *ngIf="fieldConfig.hasEmail" class="flex flex-col gap-2">
        <label for="email">{{'auth.form.email' | translate}}</label>
        <input formControlName="email"
               [autofocus]="true"
               [ngClass]="{'ng-invalid': error}"
               pInputText
               type="text"
               id="email"
        />
        <small *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
          {{'auth.form.error.email' | translate}}
        </small>
      </div>

      <!-- Password -->
      <div *ngIf="fieldConfig.hasPassword" class="flex flex-col gap-2">
        <label for="password">{{'auth.form.pwd.password' | translate}}</label>
        <p-password formControlName="password"
                    [feedback]="false"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    inputId="password"
        />
        <small *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-danger">
          {{'auth.form.error.required' | translate}}
        </small>
      </div>

      <!-- Password Feedback -->
      <div *ngIf="fieldConfig.hasPasswordFeedback" class="flex flex-col gap-2">
        <label for="password-feedback">{{'auth.form.pwd.password' | translate}}</label>
        <p-password formControlName="password-feedback"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    inputId="password-feedback"
                    weakLabel="{{'auth.form.pwd.feedback.complexity.weak' | translate}}"
                    mediumLabel="{{'auth.form.pwd.feedback.complexity.medium' | translate}}"
                    strongLabel="{{'auth.form.pwd.feedback.complexity.strong' | translate}}">
          <ng-template pTemplate="header">
            <h6 class="text-sm font-semibold">{{'auth.form.pwd.feedback.header' | translate}}</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2 mb-4">{{'auth.form.pwd.feedback.suggestions.header' | translate}}</p>
            <ul class="pl-2 ml-2 mt-0 list-disc" style="line-height: 1.5">
              <li>{{'auth.form.pwd.feedback.suggestions.li-0' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-1' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-2' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-3' | translate}}</li>
            </ul>
          </ng-template>
        </p-password>
        <small *ngIf="userForm.get('password-feedback')?.invalid && userForm.get('password-feedback')?.touched" class="text-danger">
          {{'auth.form.error.password-feedback' | translate}}
        </small>
      </div>

      <!-- Confirmation -->
      <div *ngIf="fieldConfig.hasConfirmation" class="flex flex-col gap-2">
        <label for="confirmation">{{'auth.form.pwd.confirmation' | translate}}</label>
        <p-password formControlName="confirmation"
                    [feedback]="false"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    inputId="confirmation"
        />
        <small *ngIf="userForm.get('confirmation')?.invalid && userForm.get('confirmation')?.touched" class="text-danger">
          {{'auth.form.error.confirmation' | translate}}
        </small>
      </div>

      <!-- Checkbox -->
      <div *ngIf="fieldConfig.checkboxLabel">
        <div class="flex gap-2">
          <p-checkbox formControlName="checkbox"
                      [binary]="true"
                      inputId="checkbox"/>
          <label for="checkbox">{{fieldConfig.checkboxLabel | translate}}</label>
        </div>
        <small *ngIf="userForm.get('checkbox')?.invalid && userForm.get('checkbox')?.touched" class="text-danger">
          {{'auth.form.error.agreement' | translate}}
        </small>
      </div>
    </div>

    <!-- Actions -->
    <div class="flex gap-3 mt-1">
      <button [disabled]="userForm.invalid || !userForm.dirty || loading"
              label="{{ fieldConfig.submitLabel | translate }}"
              class="w-full"
              pButton pRipple
              type="submit"
      ></button>
    </div>
  </form>

  <div class="flex items-center justify-center">
    <p-button *ngIf="fieldConfig.hasLoginLink"
              [link]="true"
              routerLink="/auth/"
              label="{{'auth.links.login' | translate}}"
    />
    <p-button *ngIf="fieldConfig.hasRegisterLink"
              [link]="true"
              routerLink="/auth/register"
              label="{{'auth.links.register' | translate}}"
    />
    <span *ngIf="fieldConfig.hasForgotLink" class="dot-separator">⸱</span>
    <p-button *ngIf="fieldConfig.hasForgotLink"
              [link]="true"
              label="{{'auth.links.forgot' | translate}}"
    />
  </div>
</div>
