<div class="flex flex-col items-center justify-center min-h-screen">

  <p-messages
    [(value)]="messages"
    [closable]="false"
    [enableService]="false"/>

  <p-card header="{{'register.title' | translate}}" class="container-2xl">

    <div class="flex flex-col gap-4">

      <!-- Firstname -->
      <div class="flex flex-col gap-2">
        <label for="firstname">{{'auth.form.firstname' | translate}}</label>
        <input [(ngModel)]="user.first_name"
               [autofocus]="true"
               [disabled]="loading"
               [ngClass]="{'ng-invalid': error}"
               pInputText
               type="text"
               id="firstname"
               placeholder="{{'auth.form.firstname-placeholder' | translate}}"
        />
      </div>

      <!-- Lastname -->
      <div class="flex flex-col gap-2">
        <label for="lastname">{{'auth.form.lastname' | translate}}</label>
        <input [(ngModel)]="user.last_name"
               [autofocus]="true"
               [disabled]="loading"
               [ngClass]="{'ng-invalid': error}"
               pInputText
               type="text"
               id="lastname"
               placeholder="{{'auth.form.lastname-placeholder' | translate}}"
        />
      </div>

      <!-- Email -->
      <div class="flex flex-col gap-2">
        <label for="email">{{'auth.form.email' | translate}}</label>
        <input [(ngModel)]="user.email"
               [autofocus]="true"
               [disabled]="loading"
               [ngClass]="{'ng-invalid': error}"
               pInputText
               type="text"
               id="email"
               placeholder="{{'auth.form.email-placeholder' | translate}}"
        />
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-2">
        <label for="password">{{'auth.form.pwd.password' | translate}}</label>
        <p-password [(ngModel)]="user.password"
                    [disabled]="loading"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    autocomplete="password"
                    id="password"
                    placeholder="{{'auth.form.pwd.password-placeholder' | translate}}"
                    weakLabel="{{'auth.form.pwd.feedback.complexity.weak' | translate}}"
                    mediumLabel="{{'auth.form.pwd.feedback.complexity.medium' | translate}}"
                    strongLabel="{{'auth.form.pwd.feedback.complexity.strong' | translate}}">
          <ng-template pTemplate="header">
            <h6 class="text-sm font-semibold">{{'auth.form.pwd.feedback.header' | translate}}</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2 mb-4">{{'auth.form.pwd.feedback.suggestions.header' | translate}}</p>
            <ul class="pl-2 ml-2 mt-0 list-disc" style="line-height: 1.5">
              <li>{{'auth.form.pwd.feedback.suggestions.li-0' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-1' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-2' | translate}}</li>
              <li>{{'auth.form.pwd.feedback.suggestions.li-3' | translate}}</li>
            </ul>
          </ng-template>
        </p-password>
      </div>

      <!-- Confirmation -->
      <div class="flex flex-col gap-2">
        <label for="confirmation">{{'auth.form.pwd.confirmation' | translate}}</label>
        <p-password [(ngModel)]="confirmation"
                    [disabled]="loading"
                    [feedback]="false"
                    [toggleMask]="true"
                    [ngClass]="{'ng-invalid': error}"
                    id="confirmation"
                    placeholder="{{'auth.form.pwd.confirmation-placeholder' | translate}}"
        />
      </div>

      <!-- Agreement -->
      <div class="flex gap-2">
        <p-checkbox [(ngModel)]="agreement"
                    [binary]="true"
                    inputId="agreement" />
        <label for="agreement">{{'register.agreement' | translate}}</label>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button (click)="register()"
                  [disabled]="!user.first_name || !user.last_name || !user.email ||!user.password || !confirmation || loading"
                  label="{{'register.submit' | translate}}"
                  class="w-full"
                  styleClass="w-full"
                  pRipple/>
      </div>
    </ng-template>
  </p-card>

  <div class="flex items-center justify-center">
    <p-button routerLink="/auth" label="{{'register.login' | translate}}" [link]="true" />
  </div>
</div>
