<ng-template #contentTemplate>
  <form [formGroup]="formBroker" class="flex flex-col gap-12 rounded-md mt-8">

    <div class="flex flex-col gap-2">
      <label for="broker">{{'dashboard.brokers.add.broker-placeholder' | translate}}</label>
      <p-select formControlName="broker"
                [options]="brokers"
                [loading]="loading"
                [filter]="true"
                filterBy="name"
                optionLabel="name"
                placeholder="{{'dashboard.brokers.add.broker-placeholder' | translate}}"
                class="w-full md:w-56"
                id="broker"/>
    </div>

    <!-- Broker selected -->
    <app-radio-cards *ngIf="formBroker.get('broker')?.value"
                     [fieldLabel]="'dashboard.brokers.add.label-type'"
                     [items]="configs"
                     [form]="formBroker"
                     [control]="'config'"
    ></app-radio-cards>

    <!-- ConfigurationType - Synchronized -->
    <div *ngIf="isConfigSynchronized()">

      <!-- API Key -->
      <div class="flex flex-col gap-2">
        <label for="apiKey">{{'dashboard.brokers.add.label-api-key' | translate}}</label>
        <input formControlName="apiKey"
               [autofocus]="true"
               pInputText
               type="text"
               id="apiKey"
        />
      </div>

      <!-- API Secret -->
      <div class="flex flex-col gap-2">
        <label for="apiSecret">{{'dashboard.brokers.add.label-api-secret' | translate}}</label>
        <input formControlName="apiSecret"
               [autofocus]="true"
               pInputText
               type="text"
               id="apiSecret"
        />
      </div>
    </div>

    <p-button (click)="addBroker()"
              severity="secondary"
              label="{{'dashboard.brokers.add.next' | translate}}"/>

  </form>
</ng-template>

<app-dashboard-item-layout
  title="dashboard.brokers.add.title"
  subTitle="dashboard.brokers.add.sub-title"
  backRoute="/dashboard/brokers"
  backTitle="dashboard.brokers.add.back"
  [contentTemplate]="contentTemplate"
></app-dashboard-item-layout>
