<ng-template #contentTemplate>
  <form [formGroup]="formBroker" class="flex flex-col gap-12 rounded-md mt-8">

    <p-select formControlName="broker"
              [options]="brokers"
              [loading]="loading"
              optionLabel="name"
              placeholder="{{'dashboard.brokers.add.broker-placeholder' | translate}}"
              class="w-full md:w-56" />

    <p-button (click)="addBroker()"
              severity="secondary"
              label="{{'dashboard.brokers.add.next' | translate}}"/>

  </form>

</ng-template>

<app-dashboard-item-layout
  title="dashboard.brokers.add.title"
  backRoute="/dashboard/brokers"
  backTitle="dashboard.brokers.add.back"
  [contentTemplate]="contentTemplate"
></app-dashboard-item-layout>
