/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";

@import "assets/styles/docs";
@import "assets/styles/flags";
@import "assets/styles/primeng";
@import "assets/styles/themes";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--ground-background);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  // Header
  --header-height: 4rem;

  // Container
  --dynamic-container-padding: 16px;

  // Table
  --p-datatable-header-background: transparent;
  --p-datatable-header-cell-background: transparent;
  --p-datatable-row-background: transparent;
  --p-datatable-row-color: var(--p-text-muted-color);
  --p-datatable-column-title-font-weight: 700;

  // Tabs
  --p-tabs-tablist-background: transparent;
  --p-tabs-tabpanel-background: transparent;
}

@media screen and (min-width: 768px) {
  :root {
    --dynamic-container-padding:24px
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --dynamic-container-padding:32px
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --dynamic-container-padding:64px
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --dynamic-container-padding:160px
  }
}

@media screen and (min-width: 1921px) {
  :root {
    --dynamic-container-padding:0
  }
}

// Utils

.bg {
  background-color: var(--ground-background);
}

// App - Panel

app-panel .p-listbox {
  --p-listbox-background: transparent;
  --p-listbox-border-color: transparent;
  --p-listbox-shadow: none;
}
app-panel .p-listbox-header .p-inputtext {
  padding-block: 0.25rem;
}

// Auth form - Centered
.content-wrapper app-login,
.content-wrapper app-register,
.content-wrapper app-auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

// Text

.text-light {
  color: var(--text-secondary-color);
}

// Forms

/* Mobile */
@media (max-width: 480px) {
  .dashboard-form {
    max-width: 320px;
  }
}

/* Tablet (Small) */
@media (min-width: 481px) and (max-width: 768px) {
  .dashboard-form {
    max-width: 600px;
  }
}

/* Tablet (Large) and Desktop (Small) */
@media (min-width: 769px) and (max-width: 1280px) {
  .dashboard-form {
    max-width: 800px;
  }
}

/* Desktop (Large) */
@media (min-width: 1281px) {
  .dashboard-form {
    max-width: 900px;
  }
}

