/* You can add global styles to this file, and also import other style files */

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.text-danger {
  color: #dc2626;
}

p-password,
p-password div.p-password,
p-password .p-component {
  width: 100%;
}

.p-password-panel .p-password-meter {
  margin-top: 1rem;
}

.p-password-panel .p-password-meter,
.p-password-panel .p-password-meter .p-password-strength{
  border-radius: 6px;
}

