<div class="container mx-auto max-w-xl flex flex-col gap-3">
  <p-card header="Welcome to Fihub">
    <form [formGroup]="registerForm" class="flex flex-col gap-4">

      <!-- Firstname -->
      <div class="flex flex-col gap-2">
        <label>Firstname</label>
        <input type="text" pInputText formControlName="firstname" placeholder="Firstname"/>
      </div>

      <!-- Lastname -->
      <div class="flex flex-col gap-2">
        <label>Lastname</label>
        <input type="text" pInputText formControlName="lastname" placeholder="Lastname"/>
      </div>

      <!-- Email -->
      <div class="flex flex-col gap-2">
        <label>Email</label>
        <input type="email" pInputText formControlName="email" placeholder="Email"/>
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-2">
        <label>Password</label>
        <p-password formControlName="password" placeholder="Password" [toggleMask]="true">
          <ng-template pTemplate="header">
            <h6 class="text-sm font-semibold">Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider />
            <p class="mt-2 mb-4">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0 list-disc" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
      </div>

      <!-- Confirmation -->
      <div class="flex flex-col gap-2">
        <label>Confirmation</label>
        <p-password formControlName="confirmation" placeholder="Confirmation" [toggleMask]="true" [feedback]="false" class="w-full" />
      </div>

      <!-- Agreement -->
      <div class="flex gap-2">
        <p-checkbox
          formControlName="agreement"
          [binary]="true"
          inputId="agreement" />
        <label for="agreement">I agree to Fihub's  and .</label>
      </div>

    </form>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button label="Register" class="w-full" styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>

  <div class="flex items-center justify-center">
    <p-button routerLink="/login" label="Log in" [link]="true" />
  </div>
</div>
